body {
  width: 100%;
}

.class {
  width: 100%;
}

[property="property"] {
  width: 100%;
}

#id {
  content: attr(data-bid);
  --var: 123;
  width: 100%;
  height: var(--var);
}

@supports (display: grid) {
  body {
    display: grid;
  }
}

@keyframes Animate {
  from {

  }

  100% {}
}

@media (min-width: 100px) {
  body {
    width: 100%;
  }
}
